.page {
    display: flex;

    & .editor,
    & .preview {
        flex: 1;
        margin: 20px;
        min-height: 800px;
    }

    & .preview {
        border: 1px solid gray;
        white-space: pre-wrap;
        word-break: keep-all;
    }
}
