.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.download {
  color: #f00;
  font-size: 24px;
  line-height: 3;
}

.template {
  color: #999;
  font-size: 24px;
  line-height: 3;
}
