.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.download {
  margin: 40px;
  font-size: 40px;
}

.template {
  margin: 20px;
  font-size: 20px;
}
